<div class="jumbotron">
	<div class="row">
		<div class="span7">
			<h1 class="h1">Venha se juntar a quem não para de aprender!</h1>  
			<p class"p"><small>Aqui você investe um pequeno valor por mês e tem a sua disposição uma biblioteca de cursos ministrados por especialistas na sua área de atuação</smal></p>
			<p><a <href="#" class="btn btn-primary btn-action">Começe agora!</a></p>  
		</div>
		<div class="span5" style="text-align: center; padding-top: 20px">
			<iframe class="video" src="http://www.youtube.com/embed/5c9mN-lWSLw?rel=0" height="210" width="375"></iframe>
		</div>
	</div>
</div>
<br>  <br>

<div class="container">
	<div class="row">
 		<div class="tabbable span8"> <!-- Only required for left/right tabs -->
		    <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">Todos</a></li>
			    <li><a href="#tab2" data-toggle="tab">Geek</a></li>
		    </ul>
		    <div class="tab-content">
		    	<div class="tab-pane active" id="tab1">
		    		<div class="row small_title">
			    		<div class="span4">	
						<% q = 0 %>					 
						<% @cursos.each do |curso| %>

							<%if q == 3 %>
								</div>
								<div class="span4">	
								<td><%= link_to(image_tag(curso.image_url),'http://www.youtube.com/embed/5c9mN-lWSLw?rel=0&autoplay=1') %>
								<p><br><small><%=curso.release_date.strftime("Data do curso: %d/%m/%Y") %></small></p>
								<p><small><%=curso.name %></small></p>
								</td>

								<% q = 0 %>
							<%else%>
								<td><%= link_to(image_tag(curso.image_url),'http://www.youtube.com/embed/5c9mN-lWSLw?rel=0&autoplay=1') %>
								<p><br><small><%=curso.release_date.strftime("Data do curso: %d/%m/%Y") %></small></p>
								<p><small><%=curso.name %></small></p>
								</td>
								<% q += 1 %>
							<%end%>
						<% end %>
						</div>	
					</div>	
		    	</div>
		    	<div class="tab-pane" id="tab2">
		    		<p>Vão entrar mais vídeos</p>
		    	</div>
		    </div>
		</div>
		<div class="span4">
			<h1>Como Funciona</h1>
			<p>AQUI VAI ENTRAR FIGURA MOSTRANDO COMO FUNCIONA</p>
		</div>
	</div>
</div> <!--! end of .container -->



